@import 'tailwindcss';

@theme {

    /* Colors */
    --color-main-blue: #0080c7;
    --color-dark-blue: #004172;

    /* Fonts */
    --font-montserrat-reg: 'Montserrat-Regular', sans-serif;
    --font-montserrat-med: 'Montserrat-Medium', sans-serif;
    --font-montserrat-bold: 'Montserrat-Bold', sans-serif;
    --font-montserrat-extra: 'Montserrat-ExtraBold', sans-serif;

}

/* CUSTOM CSS GOES HERE */